<!-- pages/templates/pages/about.html -->
<h1>About page</h1>
<p>This is the new template-powered About page.</p>

<p>It is now using Django's template system to render content dynamically.</p>
<p>Feel free to customize this page further!</p>

{%comment %}
<p>To add more content, you can edit this file directly.</p>
<p>For example, you can add images, links, or any other HTML elements.</p>
<p>Remember to save your changes and refresh the page to see the updates.</p>
{%endcomment%}

<h1>{{ name }}</h1>
<p>Age: {{ age }}</p>